/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-gutenpride {
	border: 1px dotted #f00;
}

@font-face {
    font-family: Gilbert;
    src: url( gilbert.otf );
    font-weight: bold;
}

.wp-block-create-block-gutenpride textarea {
    font-family: Gilbert !important;
    font-size: 64px !important;
}